#meme-image {
  width: 400px;
  height: 300px; 
}

#meme-text {
    position: absolute;
    top: 250px;
    left: 15px;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-size: 30px;
}

#meme-image-container {
  width: 400px;
  height: 300px;
}

.normal {
  border: black solid 1px;
  background-color: white;
}

.fogo {
  border: red dashed 3px;
}

#fire {
    background-color: red;
}

.agua {
    border: blue double 5px;
}

#water {
    background-color: blue;
}

.terra {
  border: green groove 6px;
}

#earth {
    background-color: green;
}

#container-exemplos {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
}

#container-exemplos img {
    width: 100px;
    height: 75px;
}

button {
    margin: 10px;
}