/* #meme-image {
    position: absolute;
    z-index: 0;
} */

#meme-text {
    position: absolute;
    top: 100px;
    left: 50px;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-size: 30px;
}

#meme-image-container {
  background-color: white;
  border: black solid 1px;
}
